*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
    background-repeat: no-repeat;
}

main>*{
    margin: 3rem 0;
}

.a-unstyled{
    text-decoration: none;
    color: initial;
}

.a-unstyled:hover{
    color: initial;
}

.font-family-oswald{
    font-family: 'Oswald', sans-serif;  
}

.color-main-yellow{
    color:#FFC11E;
}

.bg-color-main-yellow{
    background-color: #FFC11E;
}

.bg-color-red{
    background-color: red;
}

.bg-color-main-light-gray{
    background-color: #F2F4F6;
}

.bg-color-main-dark-gray{
    background-color: #676767;
}

.obj-fit-contain{
    object-fit: contain;
}